<section class="my-5">
    <div class="row">
        <div *ngFor="let Ingredient of Ingredients" class="col-lg-3 col-md-4  ">
            <div [routerLink]="['/Ingredientmeals',Ingredient.strIngredient]" class="rounded-2 text-center cursor-pointer">
                    <i class="fa-solid fa-drumstick-bite fa-4x"></i>
                    <h3 class="h4">{{Ingredient.strIngredient}}</h3>
                    <p class="small">{{Ingredient.strDescription |cuttext:8}}</p>
            </div>
    </div>
    </div>
</section>